.filePickerContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  background-color: white;
  transition: all 0.5s ease-in-out;
}
